body
{
    background-color: #252525;
    margin-left: 0.2vw;
    font-family: Inter;
    color: white;
    transition: 0.3s;
}

body h1
{
    font-size: 2.25vw;
    text-align: center;
}

footer
{
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-size: 0.8vw;
}

.form1
{
    margin-top: 2vh;
    margin-left: 1.2vw;
}

.form1 h2
{
    font-size: 2.25vw;
}

.form1 label
{
    font-size: 1.5vw;
    margin-right: 0.5vw;
}

.form1 input
{
    width: 6vw;
    height: 6vh;
    font-size: 1.75vw;
    margin-left: 0.5vw;
    font-family: inherit;
    background-color: #18181860;
    border: 2px #10101060;
    color: white;
    padding-left: 0.5vw;
}

.form1 img
{
    width: 2vw;
    vertical-align: top;
}

@font-face
{
    font-family: Inter;
    src: url(../fonts/Inter/Inter_Variable.ttf);
}