body {
    margin-left: 0.2vw;
    font-family: Inter;
    background-color: #252525;
    color: white;
}

body h1 {
    font-size: 2.5vw;
    text-align: center;
    margin: 1vw;
}

.button_pages 
{
    padding: 1vw;
    font-size: 2vw;
    display: grid;
    justify-content: center;
    justify-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    grid-template-columns: repeat(2, auto);
}

.button_pages button 
{
    width: 40vw;
    height: 20vh;
    background-color: #181818;
    border: 2px #101010;
    font: inherit;
    color: white;
    margin: 1.5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;
}

.site_header a img
{
    position: absolute;
    width: 3vw;
    margin-left: 1vw;
}

footer
{
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-size: 0.8vw;
}

.form1 {
    margin-top: 5vh;
    margin-left: 1.2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form1 input
{
    width: 10vw;
    height: 8vh;
    font-size: 2vw;
    margin-right: 0.5vw;
    font-family: inherit;
    background-color: #181818;
    border: 2px #101010;
    color: white;
    padding-left: 0.5vw;
}

.form1 button 
{
    width: 3vw;
    height: 6vh;
    vertical-align: bottom; /* Por alguma razão, o botão ficou mais acima... */
    background-color: #181818;
    border: 2px #101010;
    margin-right: 0.5vw;
    cursor: pointer;
}

.form2 {
    margin-bottom: 5vh;
    margin-left: 1.2vw;
}

.form2 h2 {
    font-size: 2vw;
}

.form2 input
{
    width: 10vw;
    height: 8vh;
    font-size: 2vw;
    margin-right: 0.5vw;
    margin-left: 1.0vw;
    font-family: inherit;
    background-color: #181818;
    border: 2px #101010;
    color: white;
    padding-left: 1vw;
}

.right
{
    padding-right: 1vw;
    text-align: right;
}

.form2 label 
{
    font-size: 1.75vw;
}

.form2 button 
{
    width: 3vw;
    height: 6vh;
    background-color: #181818;
    border: 2px #101010;
    margin-left: 0.5vw;
    vertical-align: -0.75vh;
    cursor: pointer;
}

form img
{
    height: 80%;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter_Variable.ttf);
}