body {
    margin-left: 0.2vw;
    font-family: Inter;
    background-color: #252525;
    color: white;
}

body h1 {
    font-size: 4cqh;
    text-align: center;
    margin: 1vw;
}

.button_pages 
{
    margin-top: 5vh;
    font-size: 2.5cqh;
    display: grid;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 120vh;
    padding-bottom: 10vh;
    width: 95%;
    gap: 10px;
}

.button_pages button 
{
    width: 100%;
    height: 100%;
    background-color: #181818;
    border: 0;
    font: inherit;
    color: white;
    cursor: pointer;
    text-align: start;
    padding-left: 20px;
    border-radius: 5px;
}

.footerGradient
{
    background-color: #00000000; /* Se o browser  não suportar gradientes, não mostrar */
    background-image: linear-gradient(to top, #20201F, #00000000);
    width: 100%;
    margin: 0;
    padding: 0;
    height: 20vh;
    position: fixed;
    bottom: 0%;
    pointer-events: none; /* Ignorar clicks em cima do gradiente */
}

footer
{
    position: fixed;
    bottom: 1%;
    right: 1%;
    font-size: 1.5cqh;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter/Inter_Variable.ttf);
}
