body {
    margin-left: 0.2vw;
    font-family: Inter;
    background-color: #252525;
    color: white;
}

body h1 {
    font-size: 2.5vw;
    text-align: center;
    margin: 1vw;
}

.button_pages 
{
    padding: 1vw;
    font-size: 2vw;
    display: grid;
    justify-content: center;
    justify-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    grid-template-columns: repeat(2, auto);
}

.button_pages button 
{
    width: 40vw;
    height: 20vh;
    background-color: #181818;
    border: 2px #101010;
    font: inherit;
    color: white;
    margin: 1.5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;
}

footer
{
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-size: 0.8vw;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter_Variable.ttf);
}