body
{
    background-color: #252525;
    margin-left: 0.2vw;
    font-family: Inter;
    color: white;
    transition: 0.3s;
}

body h1
{
    font-size: 2.25vw;
    text-align: center;
    margin-top: 3vh;
}

.button_pages 
{
    padding: 1vw;
    font-size: 2vw;
    display: grid;
    justify-content: center;
    justify-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    grid-template-columns: auto;
}

.button_pages button 
{
    width: 40vw;
    height: 30vh;
    background-color: #181818;
    border: 2px #101010;
    font: inherit;
    color: white;
    margin: 1.5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;
}

footer
{
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-size: 1.0vw;
}

.form1
{
    margin-top: 5vh;
    margin-left: 1.2vw;
}

.form1 label
{
    font-size: 1.5vw;
    margin-right: 0.5vw;
}

.form1 input
{
    width: 10vw;
    height: 8vh;
    font-size: 2vw;
    margin-left: 0.5vw;
    font-family: inherit;
    background-color: #18181860;
    border: 2px #10101060;
    color: white;
    padding-left: 0.5vw;
}

.form1 select
{
    height: 8vh;
    width: 4vw;
    font-size: 1.5vw;
    margin-right: 0.5vw;
    background-color: #18181860;
    border: 2px #10101060;
    color: white;
}

.form1 button
{
    width: 4vw;
    height: 8vh;
    background-color: #181818C0;
    border: 2px #10101060;
    margin-left: 0.5vw;
    cursor: pointer;
    vertical-align: top;
}

.form1 img
{
    width: 2vw;
    vertical-align: top;
}

@font-face
{
    font-family: Inter;
    src: url(../fonts/Inter/Inter_Variable.ttf);
}