body {
    margin: 0;
}

.header_1 {
    background-color: rgb(0, 35, 116);
    display: flex;
    color: white;
    font-family: Inter;
    font-size: 2vh;
    align-items: center;
    justify-content: center;
    height: 8vh;
}

.header_1 img {
    position: absolute;
    left: 3vh;
    top: 1.1vh;
    width: 3vh;
}

.content {
    background-color: hsl(0, 0%, 10%);
    color: white;
    font-family: Inter;
    padding: 2vh 2vh 2vh 2vh;
}

.content h1 {
    margin: 0;
}

.content hr {
    margin-bottom: 2%;
}

.content p {
    font-size: 2vh;
}

.content .contrib_grid {
    background-color: hsl(0, 0%, 5%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vh, 1fr));
    height: auto;
    margin-top: 3vh;
    border-radius: 2vh;
}

.content .contrib_grid .contrib_elem {
    background-color: hsl(0, 0%, 10%);
    margin: 2vh;
    border: 4px solid hsl(0, 0%, 3%);
    border-radius: 3vh;
    width: auto-fit;
    height: 51vh;
    text-align: center;
}

.contrib_elem img {
    width: 75%;
    position: relative;
    top: 5%;
    margin-bottom: 4vh;
    border-radius: 50%;
}

.contrib_elem h1 {
    font-size: 3.5vh;
}

.contrib_elem h2 {
    font-size: 2.4vh;
    position: relative;
    top: 3%;
}

.contrib_elem p {
    font-size: 1.8vh;
    margin-top: 1vh;
}

.contrib_grid a {
    text-decoration: none;
    color: white;
}

.footer_1 {
    background-color: rgb(0, 35, 116);
    height: 6vh;
    position: relative;
    display: flex;
}

.footer_1 p
{
    color: white;
    font-family: Inter;
    font-size: 2vh;
    padding-left: 2vh;
}

.footer_1 img
{
    position: absolute;
    right: 2vh;
    bottom: 25%;
    width: 3vh;
}

.content_bio
{
    background-color: hsl(0, 0%, 10%);
    min-height: 82vh;
    color: white;
    font-family: Inter;
    padding: 2vh 2vh 2vh 2vh;
    display: flex;
    gap: 8vh;
}

.content_bio img {
    width: 40vh;
    border-radius: 50%;
}

.content_bio_img {
    border: 1vh solid white;
    border-radius: 50%;
    height: 40vh;
    margin-top: 5vh;
    margin-left: 8vh;
}

.content_bio h1 {
    margin-top: 3vh;
    font-size: 10vh;
}

.content_bio h3 {
    margin-top: -8vh;
    font-size: 5vh;
    font-weight: normal;
}

.content_bio_info {
    text-decoration: none;
    color: white;
    font-size: 2.8vh;
    margin-bottom: -2.5vh;
    font-weight: 200;
}

.content_bio_info p {
    margin-bottom: -2.5vh;
}

.content_bio hr {
    margin-top: -4vh;
}

.content_bio h4 {
    font-size: 4vh;
    margin-bottom: -2.5vh;
    font-weight: normal;
}

.content_bio_about_text {
    font-size: 2.3vh;
    margin-bottom: -2.2vh;
    font-weight: 200;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter/Inter-VariableFont_opsz,wght.ttf);
}