body
{
    margin-left: 0.2vw;
    font-family: Inter;
    color: white;
    transition: 0.3s;
}

body h1
{
    font-size: 2.25vw;
    text-align: center;
    margin-top: 3vh;
}

footer
{
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-size: 1.0vw;
}

.form1
{
    margin-top: 5vh;
    margin-left: 1.2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form1 a
{
    font-size: 2vw;
    font-weight: bold;
    margin-right: 0.5vw;
}

.form1 input
{
    width: 10vw;
    height: 8vh;
    font-size: 2vw;
    margin-right: 0.5vw;
    font-family: inherit;
    background-color: #18181860;
    border: 2px #10101060;
    color: white;
    padding-left: 0.5vw;
}

.form1 select
{
    height: 8vh;
    width: 4vw;
    font-size: 1.5vw;
    margin-right: 0.5vw;
    background-color: #18181860;
    border: 2px #10101060;
    color: white;
}

.form1 button
{
    width: 4vw;
    height: 8vh;
    background-color: #181818C0;
    border: 2px #10101060;
    margin-right: 0.5vw;
    cursor: pointer;
}

.form1 img
{
    height: 70%;
}

@font-face
{
    font-family: Inter;
    src: url(../fonts/Inter/Inter_Variable.ttf);
}