body
{
    font-family: Inter;
    background-color: #20201F;
    color: white;
    display: grid;
    place-items: center;
    user-select: none;
}

.TextArea
{
    display: flex;
    align-items: center;
    height: auto;
    width: calc(50% - 20px);
    background-color: #111111;
    font-family: DejaVuSansMono;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    white-space: pre-line;
    letter-spacing: 0.15vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
    cursor: default;
    user-select: text;
    border-radius: 10px;
}

.TextAreaButtons
{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    align-items: center;
    gap: 10px;
    width: 50%;
    height: 50vh;
    margin-bottom: 10vh;
}

.TextAreaButtons button
{
    background-color: #5f0056;
    cursor: pointer;
    width: auto;
    height: 100%;
    border: none;
    color: white;
    font-size: 1.25vw;
    font-family: Inter;
    padding: 10px;
    border-radius: 4px;
}

.TextAreaSettings
{
    display: inline-flex;
    width: 50%;
    height: 4vh;
}

.TextAreaSettings .TextAreaLeftSetting
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.TextAreaSettings .TextAreaRightSetting
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.TextAreaSettings .TextAreaLeftSetting label, .TextAreaSettings .TextAreaRightSetting label
{
    margin-right: 2.5%;
    font-size: 2cqh;
}

.TextAreaSettingsNumber, .TextAreaSettingsChar
{
    border: 0;
    background-color: #161616;
    color: white;
    height: 100%;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: inherit;
    font-size: 2cqh;
    border-radius: 4px;
}

.TextAreaSettingsNumber
{
    min-width: 30px;
    width: 7.5%;
}

.TextAreaSettingsChar
{
    min-width: 20px;
    width: 5%;
}

.TextAreaSettings button
{
    background-color: #42003b;
    cursor: pointer;
    width: 10vw;
    height: 100%;
    border: none;
    color: white;
    font-family: Inter;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    font-size: 0.75cqw;
    margin-right: 1%;
}

footer
{
    position: fixed;
    right: 1%;
    bottom: 1%;
    font-size: 2cqh;
    user-select: none;
}

.footerGradient
{
    background-color: #00000000; /* Se o browser  não suportar gradientes, não mostrar*/
    background-image: linear-gradient(to top, #20201F, #00000000);
    width: 100%;
    margin: 0;
    padding: 0;
    height: 15vh;
    position: fixed;
    bottom: 0%;
    pointer-events: none; /* Ignorar clicks em cima do gradiente */
}

@font-face
{
    font-family: Inter;
    src: url(../fonts/Inter/Inter_Variable.ttf);
}

@font-face
{
    font-family: DejaVuSansMono;
    src: url(../fonts/dejavu-sans-mono/DejaVuSansMono.ttf);
}