body
{
    height: 100%;
    margin: 0;
    font-family: Inter;
    background-color: #252525;
    color: white;
    transition: 0.5s;
}

body h1
{
    font-size: 4cqh;
    text-align: center;
    margin: 20px;
    pointer-events: none;
    -webkit-user-select: none;  /* Safari */
    -ms-user-select: none;      /* IE 10 and IE 11 */
    user-select: none;          /* Standard syntax */
}

.mainContent
{
    width: 80vw;
    height: auto;
    background-color: #414141;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5vh;
    padding: 30px;
    border-radius: 10px;
    gap: 50px;
}

.mainContent h1
{
    margin-top: 0;
}

.mainContent .mainContentLeft
{
    width: 40vw;
    justify-self: flex-start;
    height: 100%;
    display: grid;
    gap: 80px;
    grid-template-rows: repeat(autofill, auto);
}

.mainContent .mainContentRight
{
    width: 40vw;
    justify-self: flex-end;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContentLeft .mainContentLeftElem .inputButton
{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


.inputButton
{
    display: inline-flex;
    gap: 10px;
    height: 7.5vh;
    align-items: center;
}

.inputButton input
{
    width: 7.5vw;
    min-width: 75px;
    height: 100%;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
    color: white;
    font: inherit;
    font-size: 2cqh;
    background-color: #1a1a1a;
}

.inputButton button
{
    aspect-ratio: 1 / 1;
    border: 0;
    border-radius: 5px;
    background-color: hsl(0, 0%, 5%);
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}


.mainContentOutputTable
{
    margin-top: 1vh;
    width: 60%;
    text-align: center;
    min-width: 150px;
}

.mainContentOutputTable .mainContentOutputTableHeader td
{
    font-weight: bolder;
    font-size: 1.5cqh;
    text-align: center;
    background-color: #0a0a0a;
}

.mainContentOutputTable td
{
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #1a1a1a;
}

.mainContentOutputTable td:first-child
{
    border-left: none;
}

.mainContentOutputTable td:last-child
{
    border-right: none;
}


.pageFooter
{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    background-color: #0a0a0a;
    margin-top: 5vh;
    position: relative;
    bottom: 0;
    font-size: 2.0cqh;
}

.pageFooter .pageFooterTop
{
    height: calc(100% - 5vh);
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.pageFooter .pageFooterTop:first-child
{
    margin-left: 1vw;
}

.pageFooter .pageFooterTop .pageFooterElement h1
{
    text-align: start;
    margin-left: 0;
    font-size: 3cqh;
}

.pageFooter .pageFooterTop .pageFooterElement
{
    text-align: start;
}

.pageFooter .pageFooterTop .pageFooterElement a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.pageFooter .pageFooterTop .pageFooterElement .pageFooterElementImages
{
    display: grid;
    gap: 10px;
    height: 90%;
    grid-template-columns: repeat(auto-fit, minmax(0px, 70px));
}

.pageFooter .pageFooterTop .pageFooterElement .pageFooterElementImages img
{
    height: 25%;
}

.pageFooter .pageFooterBottom
{
    margin: 0;
    padding: 0;
    height: 5vh;
    width: 100%;
    background-color: #363636;
    position: relative;
    bottom: 0;
    font-size: 2.0cqh;
    text-align: center;
    align-content: center;
    pointer-events: none;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter_Variable.ttf);
}

@font-face {
    font-family: DejaVuSansMono;
    src: url(../fonts/dejavu-sans-mono/DejaVuSansMono.ttf);
}
