body {
    margin: 0;
    font-family: Inter;
    background-color: #252525;
    color: white;
}

body h1 {
    font-size: 4cqh;
    text-align: center;
    margin: 1vw;
    pointer-events: none;
    -webkit-user-select: none;  /* Safari */
    -ms-user-select: none;      /* IE 10 and IE 11 */
    user-select: none;          /* Standard syntax */
}

.mainButtons
{
    height: 100vh;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.mainOutput
{
    height: auto;
    margin: 20px;
    background-color: #121212;
    font-family: DejaVuSansMono;
    padding: 10px;
    border-radius: 5px;
}

.buttonLabel
{
    display: inline-flex;
    gap: 20px;
    width: 50vw;
    height: 5vh;
    align-items: center;
}

.buttonLabel button, .inputButton button
{
    font: inherit;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: #121212;
    min-width: 100px;
    height: 100%;
    min-height: 50px;
    font-size: 2cqh;
    color: rgb(225, 225, 225);
    cursor: pointer;
}

.buttonLabel button
{
    width: 15.0vw;
}

.inputButton button
{
    width: auto;
}

.buttonLabel label, .inputButton label
{
    overflow: visible;
    font-size: 2.0cqh;
    font-weight: bold;
}

.inputButton
{
    display: inline-flex;
    gap: 10px;
    width: 40vw;
    height: 5vh;
    align-items: center;
}

.inputButton input
{
    width: 5.0vw;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
    color: white;
    font: inherit;
    background-color: #1a1a1a;
}

.pageFooter
{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    background-color: #0a0a0a;
    margin-top: 5vh;
    position: relative;
    bottom: 0;
    font-size: 2.0cqh;
}

.pageFooter .pageFooterTop
{
    height: calc(100% - 5vh);
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.pageFooter .pageFooterTop:first-child
{
    margin-left: 1vw;
}

.pageFooter .pageFooterTop .pageFooterElement h1
{
    text-align: start;
    margin-left: 0;
    font-size: 3cqh;
}

.pageFooter .pageFooterTop .pageFooterElement
{
    text-align: start;
}

.pageFooter .pageFooterTop .pageFooterElement .pageFooterElementImages
{
    display: grid;
    gap: 10px;
    height: 90%;
    grid-template-columns: repeat(auto-fit, minmax(0px, 70px));
}

.pageFooter .pageFooterTop .pageFooterElement .pageFooterElementImages img
{
    height: 25%;
}

.pageFooter .pageFooterBottom
{
    margin: 0;
    padding: 0;
    height: 5vh;
    width: 100%;
    background-color: #363636;
    position: relative;
    bottom: 0;
    font-size: 2.0cqh;
    text-align: center;
    align-content: center;
    pointer-events: none;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter_Variable.ttf);
}

@font-face {
    font-family: DejaVuSansMono;
    src: url(../fonts/dejavu-sans-mono/DejaVuSansMono.ttf);
}
