body {
    margin-left: 0.2vw;
    font-family: Inter;
    background-color: #252525;
    color: white;
}

body h1, body h2
{
    text-align: center;
    margin: 2vh;
}

h1
{
    font-size: 4cqh;
}

h2
{
    font-size: 3cqh;
}

.LegalText
{
    background-color: #1a1a1a;
    width: 80%;
    height: auto;
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5vh;
}

.LegalText h1
{
    text-align: left;
    margin-top: 0;
    margin-left: 0;
    font-size: 3cqh;
}

.GuiaText
{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30%;
}

.GuiaText ol li
{
    margin-bottom: 20px;
}

.GuiaText .GuiaImgs
{
    display: grid;
    width: 100%;
    height: 20vh;
    grid-template-columns: repeat(6, auto);
    gap: 20px;
}

.GuiaText .GuiaImgs img
{
    width: 100%;
}

.footerGradient
{
    background-color: #00000000; /* Se o browser  não suportar gradientes, não mostrar */
    background-image: linear-gradient(to top, #20201F, #00000000);
    width: 100%;
    margin: 0;
    padding: 0;
    height: 20vh;
    position: fixed;
    bottom: 0%;
    pointer-events: none; /* Ignorar clicks em cima do gradiente */
}

footer
{
    position: fixed;
    bottom: 1%;
    right: 1%;
    font-size: 1.5cqh;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter/Inter_Variable.ttf);
}
